/* Estilos para a modal */
.book-modal {
  font-family: Arial, sans-serif;
}

.book-modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.book-modal-content {
  margin-bottom: 24px;
  overflow-x: hidden;
}

.book-modal-input {
  width: 95%;
  height: 40px;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.book-modal-actions {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  position: absolute;
  top: 27px;
  right: 18px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button-delete-modal {
  position: absolute;
  right: 7px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button[type="submit"] {
  padding: 10px;
  background: #777769;
  color: #fff;
  border: 1px solid #2E2427;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #c9d5b5;
  color: #333;
}

button.book-delete-modal-button:hover {
  background: rgba(160, 7, 7, 0.756);
  border: rgba(160, 7, 7, 0.756);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
